<!--<div class="loader" data-loading>-->
    <!--<div id="cover-spin" class="loader" data-loading>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="load loader" data-loading>-->
    <!--<div class="square" ></div>-->
    <!--<div class="square"></div>-->
    <!--<div class="square last"></div>-->
    <!--<div class="square clear"></div>-->
    <!--<div class="square"></div>-->
    <!--<div class="square last"></div>-->
    <!--<div class="square clear"></div>-->
    <!--<div class="square "></div>-->
    <!--<div class="square last"></div>-->
<!--</div>-->


