
.alert-content {
    font-family: "SF Display", sans-serif;
    color: #fff !important;
    border-radius: 3px;
    margin-top: 15px;
    padding: 15px;
    display: none;
    font-size: 14px;
    font-weight: lighter;
}
.form-style {
    width: 45%;
    display: block;
    margin: auto;
    position: relative;
    top: 10vh;
}

html, body {
    font-family: "Montserrat", sans-serif !important;
    box-sizing: border-box;
    background: #212121;
}
.image-content {
    display: block;
    margin: auto;
    height: 60%;
    position: relative;
    top: 15vh;
}
.image-content-icpep {
    position: absolute;
    height: 20%;
    top: 15VH;
    left: 42VH;
    opacity: 0.5;
}
.background-heading {
    height: 100vh !important;
}
.cover-heading {
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 999999;
}

.modal-footer {
    border-top: 0;
}
.btn {
    transition: all 400ms ease;
}

.alert-content {
    font-family: "SF Display", sans-serif;
    color: #fff !important;
    border-radius: 3px;
    margin-top: 15px;
    padding: 15px;
    display: none;
    font-size: 14px;
}

@media (max-width: 576px) {
    .btn.btn-custom {
        width: 100%;
    }
    .btn.btn-custom-add {
        width: 100%;
    }
    .btn.btn-custom-booking {
        width: 100%;
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}

@media screen and (max-height: 450px) {

}
@media (max-width: 575.98px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .form-style {
        width: 100%;
    }
    .image-content {
        height: 25vh;
        top: 12vh;
    }
    .image-content-icpep {
        top: 12vh;
        left: 5vh;
    }
    .background-heading {
        height: 50vh !important;
    }

}




