{{>layout/header}}
<body ng-app="crud">
    <div ng-controller="UserCtrl" ng-cloak>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UserForm">ADD</button>
        <button type="button" class="btn btn-danger" ng-click="getDeleted()">Show deleted</button>
        <button type="button" class="btn btn-success" ng-click="getActive()">Show Active</button>
        <button type="button" class="btn btn-success" ng-click="searchDetails()">Show All</button>
        <input type="text" placeholder="Search..." name="search" ng-model="Form.studentNumber" method="post" class="form-control form1-holder" ng-change="searchUser()" ng-show="showSearch"/>

        {{>layout/FormModal}}
        {{>layout/DetailsFormModal}}
        <div class="container">
            <div class="col-md-12 text-center">
               <h1 style="font-size: 30px;">[[status]]</h1>
            </div>
        </div>
        <div class="card-body" ng-show="show">
            <div>
                <table class="table-container">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>STUDENT NUMBER</th>
                        <th>EDIT/VIEW</th>
                        <th>STATUS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in userList">
                        <td>[[user.id]]</td>
                        <td>[[user.name]]</td>
                        <td>[[user.studentNumber]]</td>
                        <td><i class="fas fa-user-edit fa-2x" ng-click="updateModal(user)" data-toggle="modal" data-target="#UserFormEdit"></i></td>
                        <td><div class="toggle enabled" ng-click="delete(user)"></div></td>
                    </tr>
                    <tr ng-repeat="user in userLists">
                        <td>[[user.id]]</td>
                        <td>[[user.name]]</td>
                        <td>[[user.studentNumber]]</td>
                        <td><i class="fas fa-user-edit fa-2x" ng-click="updateModal(user)" data-toggle="modal" data-target="#UserFormEdit"></i></td>
                        <td><div class="toggle disable" ng-click="active(user)"></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{>layout/scripts}}
<script src="/js/controller/userCtrl.js"></script>
</body>
</html>